/*
 * Grey theme
 * 
 * To change to this theme copy the contents of this file to style.css
 */

html {
	font-size: 1rem;
}

body {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	margin: 0;
}

#tracking-container {
	border: 2px solid;
	position: relative;
	background-color: #9DB4C0;
	border-color: #ffffff;
	color: #ffffff;
}

#header {
	background-color: #465362;
	display: block;
	font-size: 1em;
	font-weight: bold;
	line-height: 1em;
	padding: 3px;
	position: relative;
	left: -3px;
	top: -3px;
	width: 100%;
}

.elt {
	font-size: 1.4em;
	line-height: 1.4em;
	padding: 3px;
	position: relative;
	text-align: center;
}

.small-text {
	font-size: 0.6em;
	line-height: 0.7em;
}