/*
 * 80s theme to go with the Gamer42 2020 theme
 * 
 * To change to this theme copy the contents of this file to style.css
 */

html {
	font-size: 1rem;
}

body {
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
	margin: 0;
}

#tracking-container {
	border: 2px solid;
	position: relative;
	background-image: linear-gradient(#bf01a6, rgb(34, 38, 90));
	border-color: rgb(44, 211, 231);
	border-radius: 5px;
	color: #ffffff; 
}

#header {
	background-image: linear-gradient(#bf01a6, rgb(34, 38, 90));
	display: block;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid rgb(179, 210, 236);
	font-size: 0.9em;
	font-weight: bold;
	line-height: 1em;
	padding: 3px;
	position: relative;
	left: -3px;
	top: -3px;
	width: 100%;
}

.elt {
	font-size: 1.4em;
	line-height: 1.4em;
	padding: 3px;
	position: relative;
	text-align: center;
}

.small-text {
	font-size: 0.6em;
	line-height: 0.7em;
}