/*
 * 80s theme to go with the Gamer42 2020 theme
 * 
 * To change to this theme copy the contents of this file to style.css
 */

 html {
	font-size: 1rem;
}

body {
	font-family: Tahoma, sans-serif;
	font-style: italic;
	margin: 0;
}

#tracking-container {
	border: 3px solid;
	position: relative;
	border-color: rgb(192, 86, 12);
	background-color: rgb(72, 33, 15);
	border-radius: 2px;
	color: #a0a0a0; 
}

#header {
	background-color: rgb(142, 131, 11);
	display: block;
	border-radius: 0px 0px 0px 0px;
	border-bottom: 1px solid rgb(192, 86, 12);
	font-size: 0.9em;
	font-weight: bold;
	line-height: 1em;
	padding: 3px;
	position: relative;
	left: -3px;
	top: -3px;
	width: 100%;
	color: #3f3f3f; 
}

.elt {
	font-size: 1.4em;
	line-height: 1.4em;
	padding: 3px;
	position: relative;
	text-align: center;
}

.small-text {
	font-size: 0.6em;
	line-height: 0.7em;
}