#tracking-container {
	opacity: 1;
	height: 100%;
	width: 100%;
	background-image: radial-gradient(#7399d1 10%, #6591d3 30%, #4074c2 60%);
	border-radius: 0px;
	border: none;
}

#offline-message {
	font-size: 8em;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	text-align: center;
	width: 70%;
	position: absolute;
	left: 15%;
	top: 40%;
}

#offline-image {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#offline-music {
	display: none;
}