#tracking-container {
	opacity: 1;
}

.participant-tracker-container {
	border-bottom: solid 1px #FFFFFF;
	overflow: hidden;
	padding: 5px 8px;
	position: relative;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.participant-tracker-container:last-of-type {
	border-bottom: none;
}

.participant-tracker-container + .participant-tracker-container {
	border-top: solid 1px rgb(160, 175, 175);
}

.participant-tracker-container .name {
	text-align: left;
}

.participant-tracker-container .raised {
	text-align: right;
}

.participant-tracker-container .raised,
.participant-tracker-container .name {
	font-size: 0.75em;
	line-height: 0.8em;
	display: inline-block;
	width: 50%;
}