#tracking-container {
	background-color: #4074c2;
	border-color: #ffffff;
	color: #ffffff;
	opacity: 1;
}

.elt {
	font-size: 1.4rem;
	line-height: 1.4rem;
	position: relative;
	text-align: center;
}

.name {
	background-color: #1a4c6d;
	display: block;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1rem;
	padding: 5px;
}

.raised,
.goal,
.spacer {
	display: inline-block;
	padding: 5px;
}

.spacer {
	padding-left: 0;
	padding-right: 0;
}