#tracking-container {
	opacity: 1;
	line-height: 1.2em;
}

.name {
	background-color: #1a4c6d;
	display: block;
	font-size: 1em;
	font-weight: bold;
	line-height: 1em;
	padding: 3px;
	position: relative;
	left: -3px;
	top: -3px;
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.raised,
.goal,
.spacer {
	display: inline-block;
	padding: 5px;
}

.spacer {
	padding-left: 0;
	padding-right: 0;
}