#countdown-timer {
	background-color: #4074c2;
	border-color: #ffffff;
	color: #ffffff;
	opacity: 1;
}

#countdown-timer-time {
	font-family: monospace;
	font-size: 1.4rem;
}

.elt {
	font-size: 1.2rem;
	line-height: 1.2rem;
	padding: 5px;
	position: relative;
	text-align: center;
}